<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config />

    <bean id="queueConfigurer" class="com.ndpar.spring.rabbitmq.QueueConfigurer" lazy-init="false" />

    <bean id="rabbitBrokerAdmin" class="org.springframework.amqp.rabbit.admin.RabbitBrokerAdmin">
        <constructor-arg ref="rabbitConnectionFactory" />
    </bean>

    <bean id="rabbitConnectionFactory" class="org.springframework.amqp.rabbit.connection.SingleConnectionFactory"
        p:username="guest" p:password="guest" p:virtualHost="/" p:port="5672">
        <constructor-arg value="lab.ndpar.com" />
    </bean>

    <bean id="rabbitTemplate" class="org.springframework.amqp.rabbit.core.RabbitTemplate"
        depends-on="queueConfigurer"
        p:connectionFactory-ref="rabbitConnectionFactory"
        p:exchange="ndpar.topic" />

    <bean id="messageSender" class="com.ndpar.spring.rabbitmq.MessageSender" />

    <bean class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer"
        depends-on="queueConfigurer"
        p:connectionFactory-ref="rabbitConnectionFactory"
        p:queueName="ndpar.spring.client"
        p:messageListener-ref="messageListener" />

    <bean id="messageListener" class="com.ndpar.spring.rabbitmq.MessageHandler" />

    <bean id="mbeanExporter" class="org.springframework.jmx.export.MBeanExporter" lazy-init="false">
        <property name="beans">
            <map>
                <entry key="ndpar:name=Admin" value-ref="rabbitBrokerAdmin" />
                <entry key="ndpar:name=Sender" value-ref="messageSender" />
            </map>
        </property>
    </bean>
</beans>
